.faq {
  &__text {
    text-align: center;

    .faq {
      &__title {
        font-size: var(--fs-hero-title);
        font-weight: bold;
        margin-bottom: 1rem;
        // color: var(--text-color);
      }

      &__description {
        font-size: var(--fs-text);
        margin: auto;
        margin-bottom: 1.5rem;
        // color: var(--text-color);
      }
    }
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__question {
    cursor: pointer;
    font-weight: bold;
    background-color: $light-bg;
    padding: 1rem;
    border: 1px solid #e2bbeb32;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-text;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: lighten($light-bg, 10%);
      border-color: $secondary;
    }
  }

  & .faq__icon {
    transition: transform 0.3s ease;
  }

  & .faq__question--active .faq__icon {
    transform: rotate(45deg);
  }

  &__answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    background-color: $color-white;
    padding: 0 1rem;
    border-left: 2px solid $primary;

    p {
      margin: 1rem 0;
      color: $primary;
    }
  }

  &__answer--visible {
    max-height: 200px;
    padding: 1rem 1rem;
  }
}
